nav {

    .navbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        a {
            z-index: 999;
        }

        .navbar-brand img {
            max-width: 125px;
        }
    }

    &.nav-menu-closed {
        .nav-menu {
            display: none;
        }
    }

    

    .nav-button {
        background-color: transparent;
        border: none;
        width: 40px;
        cursor: pointer;
        border-radius: 0;
        padding: 5px !important;
        z-index: 999;
        position: relative;

        .nav-button-bar {
            width: 100%;
            height: 3px;
            background-color: white;
            display: block;
            margin-bottom: 5px;
            border-radius: 150px;

            &:last-of-type {
                margin-bottom: 0px;
            }
        }
    }

    &.nav-menu-open {
        
        .nav-menu {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $colour-accent-purple;
            z-index: 99;
            display: flex;
            align-items: center;

            .nav-links {
                width: 100%;
                list-style: none;
                padding-left: 0;
                text-align: center;

                li {
                    padding: 1.5rem 0;
                    
                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 24px;
                        font-weight: 700;
                    }

                    &:hover {
                        background-color: white;

                        a {
                            color: $colour-accent-purple;
                        }
                    }
                }
            }

            .footer-socials {
                position: absolute;
                text-align: center;
                width: 100%;
                bottom: 20%;

                ul {
                    list-style: none;
                    padding-left: 0;

                    li {
                        .social-icon {
                            background-color: white;
                            height: 2rem;
                            width: 2rem;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 100%;
                            margin-left: 0.5rem;
                            margin-right: 0.5rem;
                            
                            a {
                                color: $colour-accent-purple;
                            }
                        }
                    }
                }
            }

        }

        .nav-button-bar {
            width: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            
            &:first-of-type {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:last-of-type {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

        }
    }
    
}