//Font Sizes

$root-font-size: 16px;

$heading-1-size: 3.5rem;
$heading-2-size: 2.5rem;
$heading-3-size: 2rem;
$heading-4-size: 1.5rem;
$heading-5-size: 1.25rem;
$heading-6-size: 1rem;

$heading-1-large-size: 4rem;

$paragraph-font-size: 1rem;

//Line Heights

$paragraph-line-height: 1.4rem;

//Text Margin

$header-margin-large: 4rem;


//Colours

$colour-accent-red: #ff2c42;
$colour-accent-green: #00e3b4;
$colour-accent-purple: #4c27b4;

$colour-text-main: #333132;


//Sections

$section-padding-large: 12rem;
$section-padding-normal: 8rem;
$section-padding-small: 4rem;


//Helpers

$paragraph-constraint: 70%;

