.container-lg {
    width: 90%;
    margin: 0 auto;
}

.container {
    width: 80%;
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    width: 100%;
    flex-direction: column;

    .column {
        flex: 0 0 100%;
        display: flex;
        align-items: center;

        &.centralise {
            text-align: center;
        }

        img {
            max-width: 90%;
        }

        @media (min-width: 800px) {
            flex: 1;
        }
    }

    &.no-centre {
        .column {
            align-items: flex-start;
            
        }
    }

    @media (min-width: 800px) {
        flex-direction: row;
    }
}

.css-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 7rem;
    grid-row-gap: 5rem;

    @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}